*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "fira code", sans-serif;
  background-color: #f2f2f2;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}
h1 {
  font-size: 1.4rem;
  margin-bottom: 0.3em;
}
.form-control {
  margin-bottom: 0.3em;
}
label {
  font-weight: 700;
  font-size: 14px;
}
input {
  padding: 0.7em 0.2em;
  width: 100%;
}
label {
  margin-bottom: 0.3em;
  font-weight: bold;
  line-height: 1;
}
input[type="checkbox"] {
  width: fit-content;
  border: 1px solid #ccc;
}
.checkbox-control {
  display: flex;
  align-items: center;
  gap: 0.3em;
}
button {
  width: 100%;
  padding: 0.6em;
  background-color: #894232;
  border: 1px solid #894232;
  color: #e7e4e4;
  cursor: pointer;
}
